@{
    Layout = null;
    var db = Database.Open("ObligacionesOU");
    var sql = "SELECT * FROM OU";
    var datos = db.Query(sql);
     var columns = datos.First().Columns;
    Response.AddHeader("Content-disposition", "attachment; filename=ReporteObligaciones.xls");
    Response.ContentType = "application/octet-stream";
}

<table style="border: 1px solid #a59f9f;">
    <tr style="font-weight: bold">
        @foreach(var column in columns){
            <td style="border: 1px solid #a59f9f;">@column</td>
        }
    </tr>
    @foreach(var row in datos){
        <tr>
            @foreach (var column in columns){
                <td style="border: 1px solid #a59f9f;">@row[column]</td>
            }
        </tr>
    }
</table>