@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>OB Obligaciones Urbanisticas</title>
        <link rel="stylesheet" href="css/estilos.css" />
    </head>
    <body>
         <div id="Contenedor">
             <h1>Menu Principal</h1>
            <div id="MenuLateral">
                <ul>
                    <li id="ob"><a href="BaseOU"><h1>Ob Urbanisticas</h1>
                    <p>Visualizar la base de datos</p></a></li>
                    <li id="insert"><a href="InsertarOU">Insertar</a></li>
                    <li id="update"><a href="ActualizarOU">Actualizar</a></li>
                    <li id="delete"><a href="EliminarOU">Eliminar</a></li>
                    <li id="export"><a href="ExportarOU">Exportar</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
